---
const books = await Astro.glob("../content/books/**/*.mdx");
import BookCard from "~/components/BookCard.astro";
import MainLayout from "~/layouts/MainLayout.astro";

const groupBookFolder = books.reduce((group, book) => {
	const arrPath = book.url.split("/");
	const folder = arrPath[3];
	if (!group[folder]) group[folder] = [];
	group[folder].push(book);
	return group;
}, {});


---

<MainLayout seo={{ title: "Books" }}>
	<section class="max-w-[1080px] mx-auto pt-8 px-4 pb-0 text-center">
		<a href="/books">
			<h1
				id="personal-projects"
				class="font-heading relative inline-block mb-8 text-3xl font-semibold mb-4 text-white before:(content-[] absolute -bottom-1 left-8 right-8 h-1 rounded-md bg-cyan-600)"
			>
				Books
			</h1>
		</a>
		<p class="font-serif text-white text-xl leading-relaxed my-4 text-justify">
			These are some projects that I did when I was in high school, not exactly proud of them since I don't like
			to make these kind of things, they're all just beta software that I don't really care. Guess I'd put them
			here anyway in case anyone needs them for reference or something.
		</p>
		<div class="grid grid-cols-[repeat(auto-fit,minmax(20rem,1fr))] gap-5 mb-10">
			{
				Object.entries(groupBookFolder).map(([folder, books]) => {
					const sortedBookBasedOnPage = books.sort((a, b) => {
						const aPage = a.frontmatter.page;
						const bPage = b.frontmatter.page;
						if (aPage < bPage) return -1;
						if (aPage > bPage) return 1;
						return 0;
					});
					const book = sortedBookBasedOnPage[0];
					return (
						<BookCard
							title={folder}
							imageSource={`/assets/books/${folder}/cover.webp`}
							href={`/books/${folder}/${book.url.split("/")[4].replace(".mdx", "")}`}
							description={book.frontmatter.description}
						/>
					)
				})
			}
		</div>
	</section>
</MainLayout>
