---
---


<div class="relative sm:p-5 sm:w-3/4 items-end float-right justify-end container overflow-hidden bg-front-dark rounded min-h-fit">
  <div class="relative flex flex-col gap-7 rounded overflow-hidden container bg-front-dark border-2 border-cyan-200 min-h-fit">
  </div>
</div>
