---
import '../styles/global.css'

type Route = {
	name: string;
	path: string;
	icon: string;
    status: {
        active: string;
        inactive: string;
    }
};

const routes: Route[] = [
	{
		name: "Home",
		path: "/",
		icon: "ic:round-home",
        status: {
            active: "text-cyan-200",
            inactive: "text-white",
        },
	},
	{
		name: "Post",
		path: "/posts/",
		icon: "ic:baseline-article",
        status: {
            active: "text-cyan-200",
            inactive: "text-white",
        },
	},
	{
		name: "Project",
		path: "/projects/",
		icon: "ph:file-code-fill",
        status: {
            active: "text-cyan-200",
            inactive: "text-white",
        },
	},
    {
        name: "Book",
        path: "/books/",
        icon: "ic:round-library-books",
        status: {
            active: "text-cyan-200",
            inactive: "text-white",
        },
    },
	{
		name: "About",
		path: "/about/",
		icon: "mdi:about",
        status: {
            active: "text-cyan-200",
            inactive: "text-white",
        },
	},
];
---
<nav
    class="min-w-60 rounded bg-front-dark mb-5 min-h-full"
>
    <div class="text-white text-center">
        List Pages
    </div>
    <ul class="p-3 m-0 list-none">
        {
            routes.map((route) => {
                return (
                    <a 
                        aria-label={route.name} 
                        href={route.path}
                        class="no-underline "
                            >
                        <li class="list-outside">
                                <div class="text-white px-2 font-bold text-md mt-2 hover:text-cyan-200">
                                    
                                </div>
                        </li>
                    </a>
                );
            })
        }
    </ul>
</nav>