---
import '../styles/global.css'
const books = await Astro.glob("../content/books/**/*.mdx");



type Route = {
	name: string;
	path: string;
    status: {
        active: string;
        inactive: string;
    }
};

const groupBookFolder = books.reduce((group, book) => {
	const arrPath = book.url.split("/");
	const folder = arrPath[3];
	if (!group[folder]) group[folder] = [];
	group[folder].push(book);
	return group;
}, {});

const currentBook = Astro.url.pathname.split("/")[2];
const chooseBook = groupBookFolder[currentBook];
const sortedBookBasedOnPage = chooseBook.sort((a, b) => {
    const aPage = a.frontmatter.page;
    const bPage = b.frontmatter.page;
    if (aPage < bPage) return -1;
    if (aPage > bPage) return 1;
    return 0;
})
const routes: Route[] = Object.entries(sortedBookBasedOnPage).map(([_, book]) => {
    
    return {
        name: book.frontmatter.title,
        path: "/books/" + currentBook + "/" + book.url.split("/")[4].replace(".mdx", ""),
        status: {
            active: "text-cyan-200",
            inactive: "text-white"
        }
    };
});




---
<nav
    class="min-w-60 rounded bg-front-dark min-h-full py-2"
>
    <div class="mx-2 rounded border-dashed border-2 text-white">
        <div class="text-white text-center p-5 pb-1 text-">
            List Pages
        </div>
        <ul class="p-3 m-0 list-none ">
            {
                routes.map((route) => {
                    return (
                        <a 
                            aria-label={route.name} 
                            href={route.path}
                            class="no-underline"
                                >
                            <li class="list-outside  text-white">
                                    <div class="text-white px-2 text-sm font-medium border-dashed border-0 border-b-2 mt-2 hover:text-cyan-200">
                                        + {route.name}
                                    </div>
                            </li>
                        </a>
                    );
                })
            }
        </ul>
    </div>
</nav>