---
import Footer from "~/components/Footer.astro";
import Navbar from "~/components/Navbar.astro";
import '../styles/global.css';
import SEO, { type Props as SEOProps } from "~/components/SEO.astro";

// fonts
import "@fontsource/space-grotesk/400.css";
import "@fontsource/space-grotesk/600.css";
import "@fontsource/space-grotesk/700.css";
import "@fontsource/ibm-plex-serif/400.css";
import "@fontsource/ibm-plex-mono/400.css";
import "@fontsource/ibm-plex-mono/500.css";
import "@fontsource/ibm-plex-mono/400-italic.css";
import NewNavbar from "~/components/NewNavbar.astro";

export interface Props {
	seo: SEOProps;
}

const { seo } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<SEO {...seo} />
	</head>
	<body class="bg-more-dark">
		<div class="sm:m-10 flex flex-row justify-items-start auto-cols-max custom-scrollbar sm:gap-3">
			<aside class="hidden sticky inset-y-1/3 self-start lg:block">	
				<NewNavbar />
			</aside>
			<main class="sm:p-5 bg-front-dark rounded min-h-fit w-full">
				<div class="flex flex-col gap-7 rounded overflow-hidden bg-front-dark border-solid border-2 border-cyan-200 min-h-fit">
					<slot />
					<Footer />
				</div>
			</main>
		</div>
	</body>
</html>
